<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Homepage</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        
</head>
<body>
    {% include 'main/header.html' %}

    <!-- Main Section -->
    <div class="container  my-5">
        <div class="row">
            {% for language in languages %}
            <div class="col-12 col-sm-6 col-md-6">
                <div class="card">
                    <h2 class="card-title">{{ language.name }}</h2>
                    <p>A programming language</p>
                    <a href="{{ language.slug }}" class="btn btn-dark">Learn {{ language.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

     <!-- Footer -->
    {% include 'main/footer.html' %}


    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
